:root {
 --white: hsl(0, 0%, 100%)
 --light-gray: hsl(212, 45%, 89%)
 --grayish-blue: hsl(220, 15%, 55%)
 --dark-blue: hsl(218, 44%, 22%)
}

body {
  background-color: hsl(212, 45%, 89%);
}

img {
  border-radius: 10px;
  transform: translate(3%, 2.5%);
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.box1 {
  margin: auto;
  transform: translate(0, 27%);
  width: 370px;
  height: 600px;
  padding: 10px;
  border-radius: 25px;
  background-color: hsl(0,0%,100%);
}

.box2 {
  height: 30px;
}

.box3
{
  margin: auto;
  width: 310px;
  height: 70px;
}

.box4
{
  margin: auto;
  width: 310px;
  height: 110px;
}

.text1 {
  color: hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 26px;
  overflow: scroll;
  text-align: center;
}

.text2 {
  color: hsl(220, 15%, 55%);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 19px;
  overflow: scroll;
  text-align: center;
}
